<!DOCTYPE html>
{% load static %}
<form class="js-step-form"
  enctype="multipart/form-data"
  method="POST"
  action="{% url 'business_nova_importacao' %}"
  data-hs-step-form-options='{
    "progressSelector": "#progress_{{ import_type }}",
    "stepsSelector": "#steps_{{ import_type }}",
    "endSelector": "#finishBtn_{{ import_type }}"
  }'>
  {% csrf_token %}

  <!-- Barra de progresso -->
  <ul id="progress_{{ import_type }}" class="js-step-progress step step-sm step-icon-sm step-inline step-item-between mb-4">
    {% if import_type == "pessoas" %}
      <li class="step-item active">
        <a class="step-content-wrapper" href="javascript:;">
          <span class="step-icon step-icon-soft-dark">0</span>
          <span class="step-title">Selecionar Carteira</span>
        </a>
      </li>
      <li class="step-item">
        <a class="step-content-wrapper" href="javascript:;">
          <span class="step-icon step-icon-soft-dark">1</span>
          <span class="step-title">Importar Planilha</span>
        </a>
      </li>
    {% else %}
      <li class="step-item active">
        <a class="step-content-wrapper" href="javascript:;">
          <span class="step-icon step-icon-soft-dark">1</span>
          <span class="step-title">Importar Planilha</span>
        </a>
      </li>
    {% endif %}
    <li class="step-item">
      <a class="step-content-wrapper" href="javascript:;">
        <span class="step-icon step-icon-soft-dark">2</span>
        <span class="step-title">Mapear Campos</span>
      </a>
    </li>
    <li class="step-item">
      <a class="step-content-wrapper" href="javascript:;">
        <span class="step-icon step-icon-soft-dark">3</span>
        <span class="step-title">Configurar e Finalizar</span>
      </a>
    </li>
  </ul>

  <div id="steps_{{ import_type }}">
    {% if import_type == "pessoas" %}
    <!-- Seleção de Carteira -->
    <div id="step0_{{ import_type }}" class="active">
      <div class="mb-4 mt-5 text-center">
        <h3 class="mb-4">Selecione a carteira para associar à importação de pessoas</h3>
        <select name="carteira_id" id="carteiraSelect_{{ import_type }}" class="form-select" required>
          <option value="" selected disabled>Selecione uma carteira</option>
          {% for carteira in carteiras %}
            <option value="{{ carteira.id }}">{{ carteira.nome }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-proximo"
                data-from-step="step0" data-to-step="step1"
                data-import-type="{{ import_type }}"
                id="btnStep0Proximo" disabled>
          Próximo <i class="bi-chevron-right small"></i>
        </button>
      </div>
    </div>
    {% endif %}
    <!-- Upload -->
    <div id="step1_{{ import_type }}" class="{% if import_type != 'pessoas' %}active{% else %}step{% endif %}" style="{% if import_type == 'pessoas' %}display:none;{% endif %}">
      <div>
        <h3 class="text-center mb-5 mt-5">Importe o arquivo de {{import_type}} de um arquivo Excel ou .CSV</h3>
        <p class="text-muted">Para validar corretamente, o arquivo deve conter os seguintes campos obrigatórios: <strong>{{ required_fields }}</strong>.</p>
      </div>

      <div class="mb-4">
        <div id="dropzone_{{ import_type }}" class="js-dropzone row dz-dropzone dz-dropzone-card">
          <div class="dz-message">
            <h5>Arraste e solte o arquivo aqui</h5>
            <p>ou</p>
            <span class="btn btn-primary">Selecione um arquivo</span>
          </div>
        </div>
        <input type="file" id="fileInput_{{ import_type }}" name="file" style="display: none;" accept=".csv,.xls,.xlsx,.txt" />
        <p id="selectedFile_{{ import_type }}" class="text-muted"></p>
        <div id="errorMessages_{{ import_type }}" class="mt-4 text-danger" style="display: none;">
          <strong>Erro(s):</strong>
          <ul id="errorList_{{ import_type }}"></ul>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        {% if import_type == "pessoas" %}
        <button type="button" class="btn btn-secondary btn-voltar"
                data-from-step="step1"
                data-to-step="step0"
                data-import-type="{{ import_type }}">
          <i class="bi-chevron-left small"></i> Voltar
        </button>
        {% endif %}
        <button type="button" class="btn btn-primary btn-proximo" 
              data-from-step="step1" data-to-step="step2" 
              data-import-type="{{ import_type }}">
          <span class="spinner-border spinner-border-sm me-2 d-none" role="status" aria-hidden="true"></span>
          Próximo <i class="bi-chevron-right small"></i>
        </button>
      </div>
    </div>

    <!-- Mapeamento -->
    <div id="step2_{{ import_type }}" class="step" style="display: none;">
      <div>
        <h3 class="text-center mb-5 mt-5">Combine os campos do arquivo ou crie campos personalizados</h3>
        <p class="text-muted text-center mb-5">Identifique as colunas que não foram mapeadas e combine com os campos do Lead no Saiu Acordo Parceiros. Se preferir, crie um novo campo ou ignore a coluna.</p>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Coluna do Arquivo</th>
              <th>Pré-visualização</th>
              <th>Campo do Lead</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody id="mappingTable_{{ import_type }}"></tbody>
        </table>
      </div>
      <p>Confirme os campos e clique em "Próximo" para continuar.</p>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-secondary btn-voltar" 
                data-from-step="step2" data-to-step="step1" data-import-type="{{ import_type }}">
            <i class="bi-chevron-left small"></i> Voltar
        </button>
        <button type="button" class="btn btn-primary btn-proximo" 
                data-from-step="step2" data-to-step="step3" data-import-type="{{ import_type }}">
            Próximo <i class="bi-chevron-right small"></i>
        </button>
      </div>
    </div>

    <!-- Finalização -->
    <div id="step3_{{ import_type }}" class="step" style="display: none;">
      <p>Confirme as configurações e clique em "Importar" para finalizar.</p>
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>Coluna do Arquivo</th>
                      <th>Pré-visualização</th>
                      <th>Campo do Lead</th>
                  </tr>
              </thead>
              <tbody id="finalTable_{{ import_type }}"></tbody>
          </table>
      </div>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-secondary btn-voltar" 
          data-from-step="step3" data-to-step="step2" data-import-type="{{ import_type }}">
          <i class="bi-chevron-left small"></i> Voltar
        </button>
        <button 
          type="button" 
          class="btn btn-primary btn-importar"
          data-import-type="{{ import_type }}"
        >
        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
          <span class="import-text">Importar</span>
        </button>
      </div>
    </div>
  </div>
</form>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const carteiraSelect = document.getElementById("carteiraSelect_pessoas");
    const btnStep0 = document.getElementById("btnStep0Proximo");
  
    if (carteiraSelect && btnStep0) {
      carteiraSelect.addEventListener("change", function () {
        btnStep0.disabled = !this.value;
      });
    }
  });
</script>
