<!DOCTYPE html>
{% extends "business_base.html" %}
{% block content %}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Lista de Segmentações</h2>
        <a href="{% url 'business_criar_segmentacao' %}" class="btn btn-primary">Criar nova segmentação</a>
    </div>
    <!-- Alerta Bootstrap oculto -->
    <div id="alertaSucesso" class="alert alert-success d-flex align-items-center d-none mt-3" role="alert">
        <i class="bi bi-check-circle-fill me-2"></i>
        <div>Segmentação deletada com sucesso!</div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome da Segmentação</th>
                <th>Data de Criação</th>
                <th>Última Atualização</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            {% for segment in segments %}
            <tr>
                <td>{{ segment.titulo }}</td>
                <td>{{ segment.data_criacao|date:"d/m/Y"|default:"-" }} {{ segment.data_criacao|time:"H:i"|default:"-" }}</td>
                {% if segment.update_at == None %}
                    <td>{{ segment.data_criacao|date:"d/m/Y"|default:"-" }} {{ segment.data_criacao|time:"H:i"|default:"-" }}</td>
                {% else %}
                    <td>{{ segment.updated_at|date:"d/m/Y"|default:"-" }} {{ segment.updated_at|time:"H:i"|default:"-" }}</td>
                {% endif %}
                <td>
                    <a href="{% url 'business_editar_segmentacao' segment.id %}" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i> Editar</a>
                    <a onclick="deleteCampo('{{ segment.id }}')" class="btn btn-outline-danger btn-sm">
                        <i class="bi bi-trash-fill"></i> Excluir
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal de Confirmação -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que deseja excluir? Essa segmentação pode estar sendo utilizada por algum fluxo/ação. <br><br>
                    Caso você tenha certeza disso, digite abaixo "DELETAR":</p>
                <input type="text" id="confirmationInput" class="form-control" placeholder="Digite 'DELETAR' para confirmar">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton" onclick="confirmDelete()">Excluir</button>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteCampo(id) {
        // Armazena o ID no modal
        document.getElementById('deleteModal').dataset.segmentId = id;

        // Abrir modal
        var modal = new bootstrap.Modal(document.getElementById('deleteModal'));
        modal.show();
    }

    // Habilita o botão de confirmação se o texto "DELETAR" for digitado corretamente
    document.getElementById('confirmationInput').addEventListener('input', function() {
        const confirmButton = document.getElementById('confirmDeleteButton');
        confirmButton.disabled = this.value !== 'DELETAR';
    });

    // Função para excluir o fluxo
    function confirmDelete() {
        const fluxoId = document.getElementById('deleteModal').dataset.segmentId; // Recuperar ID do fluxo
        console.log(fluxoId)
        fetch(`excluir/${fluxoId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (!response.ok) {
                throw new Error('Falha ao excluir');
            }
            return response.json();
        }).then(data => {
            // Fechar modal
            var modal = bootstrap.Modal.getInstance(document.getElementById('deleteModal'));
            modal.hide();

            // Exibir alerta de sucesso
            const alerta = document.getElementById("alertaSucesso");
            alerta.classList.remove("d-none");
            // Esconder alerta após 3 segundos
            setTimeout(() => {
                alerta.classList.add("d-none");
            }, 3000);
            location.reload();
        }).catch(error => {
            console.error('Erro:', error);
            alert('Ocorreu um erro ao tentar excluir a segmentação.');
        });
    }
</script>

{% endblock %}
