{% extends 'base_login.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% load static %}
<div class="bg-light" style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh;">
    <div class="m">
        <img class="navbar-brand-logo" src="{% static 'core/svg/logos/logo.svg' %}"  alt="Logo" data-hs-theme-appearance="default">
        <img class="navbar-brand-logo" src="{% static 'core/svg/logos-light/logo.svg' %}" alt="Logo" data-hs-theme-appearance="dark">
    </div>
    <div class="mt-5 px-4 py-3 bg-white" style="width: 28rem; border-radius: 0.5rem; filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06)); ">
        <form method="post" action="/accounts/login/">
            {% csrf_token %}
            {% if msg %}
            <p class="pt-3 text-black fs-10">{{msg}}</p>
                {% if form.errors %}
                    <ul>
                        {% for key, value in form.errors.items %}
                            <li class="fs-13 lh-18">{{value}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            {{ form.as_p }}
            <div class="d-flex justify-content-between align-items-center">
                <a href="#">Esqueci minha senha</a>
                <button class="btn btn-primary" type="submit">Entrar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}