{% extends "t_base.html" %}

{% load static %}
{% block content %}

<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="container content container-fluid">
      <!-- Card -->
      <div style="display: flex; text-align: center; justify-content: center;">
        <h1>Ooops! Essa página não foi encontrada</h1>
      </div>
      <!-- End Card -->
      
      <!-- End Row -->
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}
