{% extends "t_base.html" %}

{% load static %}
{% block content %}

<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="container content container-fluid">
      <!-- Card -->
      <div style="display: flex; text-align: center; justify-content: center;">
        <h1>Parece que algo não deu certo! Sentimos muito por isso</h1>
      </div>
      <div style="display: flex; text-align: center; justify-content: center;">
        <p>Nosso time já foi acionado. Caso esse erro persista, por favor, entre em contato</p>
      </div>
      <!-- End Card -->
      
      <!-- End Row -->
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}
