{% extends "base.html" %}

{% load static %}
{% block content %}

<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="container content container-fluid">
      <!-- Card -->
      <div style="display: flex; text-align: center; justify-content: center;">
        <h1>BEM VINDO AO SAIU ACORDO PARCEIROS</h1>
      </div>
      <div style="text-align: center;">
        <p>O SaiuAcordoParceiros é uma plataforma online projetada para gerenciar dívidas e facilitar a criação de acordos entre credores e devedores. Com uma interface intuitiva e recursos avançados, nossa plataforma permite que empresas e indivíduos controlem suas finanças de forma eficiente e eficaz.</p>
        <p>Gerencie suas carteiras de dívidas, crie acordos personalizados e acompanhe o progresso das negociações. Simplifique o processo de recuperação de crédito e tenha maior controle sobre suas finanças com o SaiuAcordoParceiros.</p>
        <p>Explorando as funcionalidades:</p>
        <ul style="list-style-type: none; padding: 0;">
          <li><strong>Home:</strong> Realize a gestão de sua carteira enviando arquivos para inclusão e exclusão de contratos e devedores.</li>
          <li><strong>Central:</strong> Crie novas carteiras de cobrança e verifique as dívidas atuais de forma organizada e eficiente.</li>
          <li><strong>Acordos:</strong> Simule ou crie novos acordos, além de pesquisar os acordos já realizados por você, simplificando o processo de negociação.</li>
          <li><strong>Relatórios:</strong> Acesse um dashboard moderno e explicativo com todas as informações necessárias sobre suas finanças, permitindo uma análise detalhada e assertiva.</li>
        </ul>
      </div>
      <!-- End Card -->
      
      <!-- End Row -->
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}
