<!DOCTYPE html>
{% extends "t_base.html" %}
{% block content %}
<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <h4 class="card-header-title">Usuários</h4>
    </div>
  
    <!-- Table -->
    <div class="table-responsive datatable-custom">
      {% if usuarios %}
      <table class="js-datatable table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
             data-hs-datatables-options='{
                     "order": [],
                     "isResponsive": false,
                     "isShowPaging": false,
                     "pagination": "datatableWithPaginationPagination"
                   }'>
        <thead class="thead-light">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Grupo</th>
            <th scope="col">Empresa</th>
            <th scope="col">Administrador</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
  
        <tbody>
          {% for usuario in usuarios %}
            <tr>
              <td scope="row">{{ usuario.first_name }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.grupo.title }}</td>
              <td>{{ usuario.empresa.nome }}</td>
              <td>
                {% if usuario.adm %}
                  <span class="badge bg-success">Sim</span>
                {% else %}
                  <span class="badge bg-danger">Não</span>
                {% endif %}
              </td>
              <td>
                {% if usuario.ativo %}
                  <span class="badge bg-success">Ativo</span>
                {% else %}
                  <span class="badge bg-danger">Inativo</span>
                {% endif %}
              </td>
              <td>
                <a class="btn btn-primary btn-info" href="{% url 'adm_detalhes_usuario' usuario.id %}">
                  <i class="bi-eye"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>Nenhum usuário ainda.</p>
      {% endif %}
    </div>
    <!-- End Table -->
  
    <!-- Footer -->
    <div class="card-footer">
      <!-- Pagination -->
      <div class="d-flex justify-content-center justify-content-sm-end">
        <nav id="datatableWithPaginationPagination" aria-label="Activity pagination"></nav>
      </div>
      <!-- End Pagination -->
    </div>
    <!-- End Footer -->

  </div>
</div>
{% endblock %}
